:root {
    --text: #040316;
    --text-faded: #6f6b88;
    --back-main: #fefeff;
    --back-secondary: #f5f4fd;
    --primary: #796cfa;
    --primary-hov: #6457f0;
    --red-del: #ed2f2f;
    --red-del-hov: #df1f1f;
}

body {
    margin: 0 !important;
    background-color: var(--back-main);
    font-family: "Inter", sans-serif;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}